.content{
	margin-right: 1rem;
	margin-left: 0;

	@mixin atMedium{
		padding-left: 1em;
	    padding-right: 1em;
	    width: 89%;
	    max-width: 1150px;
	    margin: 0 auto;
	}
}

#Red-del {

	width: 35%;
	transform: translateX(75%);

	@mixin atMedium{
		transform: translateX(0);
		width:200px;
		float: left;
		margin-top: 5px;
		margin-right: 100px;
		margin-bottom: 25px;
		padding: 10px;

	
	}
}

#royal,
#fujiApple,
#grannyApple {
	width: 45%;
	transform: translateX(57%);

	@mixin atMedium{
		transform: translateX(0);
		width: 250px;
		float: left;
		margin-top: 5px;
		margin-right: 100px;
		margin-bottom: 30px;
		padding: 10px;
	}
}

.list{
	list-style: none;
	color: #696969;
}

.space {
	margin-bottom: 50px;
	border-bottom-style: solid;
	border-bottom-color:#dcdcdc;
	border-bottom-width: 1.5px;
}

.Top-text{
	text-align: center;
	font-size: 1.5rem;
	@mixin atMedium{
		text-align: center;
		margin-bottom: 50px;
		font-size: 1.85rem;
		font-weight: 500;
	}
}


.origin{
	text-align: center;
}

.origins{
	text-align: center;
}


