
footer{
	background: $mainBlue;
	margin-bottom: 0;
	padding:2em 0;
    text-align: center;
}

.footer-text{
	color: #fff;
	max-width: 85%;
	margin-right: auto;
	margin-left: auto;
    @mixin atSmall{
    	max-width: 100%;
    }
}


