.main-header{
	background:linear-gradient($mainBlue,$mainOrange,$mainBlue);
	height:600px;
	margin-bottom: 45px;

	@mixin atSmall{
		height:600px;
	}

	&__head-text {
		color:#fff;
		text-align: center;
		font-weight: 500;
		padding-top: 4rem;
		padding-right: 1.5rem;


		@mixin atSmall{
			font-size: 2.78rem;
			padding-top: 2rem;
		}
	}

	&__head-sub-text{
		color:#fff;
		text-align: center;
		font-weight: 300;
	}

	&__random-text{
		margin-top: 0px;
		padding-right: 20px;
		padding-left: 20px;
		color: #fff;
		text-align: center;
		font-weight: 200;


		@mixin atSmall{
			padding-right: 150px;
		    padding-left: 150px;
		}
	}

}





a {
	text-decoration: none;
	color: #20b2aa;
}
a:hover{
	color:palevioletred;
	font-size: bold;
	text-decoration: line-through;
}


