.main-header{
	
	background:linear-gradient($mainBlue,$mainOrange,$mainBlue);
	height:600px;
	margin-bottom: 50px;
	@mixin atSmall{
		position: relative;
		height:450px;
	}

	&__head-text {
		color:#fff;
		text-align: center;
		font-weight: 500;
		padding-top: 4rem;
		padding-right: 1.5rem;


		@mixin atSmall{
			font-size: 2.78rem;
			padding-top: 4rem;
		}
	}

	&__head-sub-text{
		color:#fff;
		text-align: center;
		font-weight: 300;
	}

	&__random-text{
		margin-top: 0px;
		padding-right: 20px;
		padding-left: 20px;
		color: #fff;
		text-align: center;
		font-weight: 200;


		@mixin atSmall{
			padding-right: 150px;
		    padding-left: 150px;
		}
	}

}






